.bgImage {
    width: 100%;
    height: 100vh;
    background: url(https://cdn.vectorstock.com/i/1000x1000/98/47/kids-meditation-children-yoga-kindergarten-sport-vector-36299847.webp) no-repeat ;
    background-size: cover;
}
/* section {
    border: 1px solid black;
} */
.bgImage .header {
    background-color: rgba(127, 218, 218, 0.676);
    height: 10vh;
}

.bgImage .sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bgImage .sectionContainer .leftSection{
    width: 20%;
    height: 90vh;
    background-color: rgba(127, 218, 218, 0.676);
}

.bgImage .sectionContainer .leftSection .navigation
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 10px;
    background-color:rgba(80, 168, 168, 0.724)
}


.bgImage .sectionContainer .leftSection .navigation .navComponent 
{
    background-color: rgba(245, 245, 245, 0.733);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    margin: 10px;
    width:85%;
    padding: 20px 40px;
}

.bgImage .sectionContainer .leftSection .navigation .navComponent .navImg {
    width: 20%;
}

.bgImage .sectionContainer .leftSection .navigation .navComponent .navhead
{

}
.bgImage .sectionContainer .rightSection{
    width: 80%;
    height: 90vh;
}